<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar class="hidden-sm hidden-md hidden-lg"></span>
            <img class="home-logo" src="../../static/front/images/home-logo.png" alt="">
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="index.home" style="border: 0;">
                    <img class="header-img" src="{{headerImg}}" alt="">
                </a>
            </li>
            <li style="color: #7c7c7c;font-weight: bold;">{{locaStorageUserName}}</li>
            <li>
                <a ui-sref="login" style="color: #7c7c7c;border: 0;">
                    <img src="../../static/front/images/loginOut.png" alt=""> 退出
                </a>
            </li>
        </ul>
    </nav>
</div>