<nav class="navbar navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header logoBorder">
                <div class="profile-element pageLogo">
                    <a uib-dropdown-toggle>
                        <img src="{{pageLogo}}" alt="">
                    </a>
                </div>
                <div class="logo-element">
                    云生物
                </div>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.yunSWHome"><img class="left-icon" src="../../static/front/images/left-icon/home.png" alt=""><span class="nav-label">首页</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.demo1LC"><img class="left-icon" src="../../static/front/images/left-icon/detail.png" alt=""><span class="nav-label">项目流程</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.yswUserMan"><img class="left-icon" src="../../static/front/images/left-icon/users.png" alt=""><span class="nav-label">用户管理</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.home"><img class="left-icon" src="../../static/front/images/left-icon/one.png" alt=""><span class="nav-label">个人设置</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.systemSettingPerson"><img class="left-icon" src="../../static/front/images/left-icon/system.png" alt=""><span class="nav-label">系统设置</span></a>
            </li>
        </ul>

    </div>
</nav>