<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div id="div">
                <canvas id="canvas" width="300" height="300"></canvas>
                <div class="dragDiv" ng-click="checkStation($event)" ng-repeat="sta in allStations">
                    <div class="drag-head">{{sta.name}}</div>
                    <div class="rfid" ng-click="checkRfid($event)" ng-repeat="rfid in sta.rfid">
                        {{rfid.name}}
                    </div>
                </div>
            </div>
            <div class="button" id="change-station-button">编辑station</div>
            
            <div class="button" id="confirm-station-button">确认station</div>

            <div style="margin-top: 200px;">
                <div class="button" id="add-station-button">添加station</div>
                <div class="button" id="remove-station-button">移除station</div>
            </div>

            
        </div>
    </div>
</div>